/* footer  */
.footer-item , .copyrights h5{
    text-align: right !important;
}
/* end footer  */
/* blog  */
.blog  .posts {
    text-align: right;
}

/* end blog */


/* sidebar */


.blog .sidebar {
    padding-right: 30px;
    text-align: right;    
  }
  .blog .sidebar .widget{
   padding-right: 40px;  
  }

/* end sidebar */