/* general utilities  */

/* variables */


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    --white:#fff;
    --black:#000;
    --brown:#DD9933;
    --silver: #a5b1b9;
    --crimson:#E77A7D;
    --darkCrimson:#A59D96;
    --dark:#293235;   
    --gray:#EDEDED;
    --darkTeal:#708B82;
    --teal:#A3C3B8;
    --lightTeal:#CEE3DC;
    --lighterTeal:#E1F1EC;
    --rose:#FEEFF0;
    font-family: 'Quicksand', sans-serif;

}



	
/* navigation bar */

.navbar{
  position: relative;
  font-size: 18px;
  padding-bottom: 10px;
  border: 1px solid teal;
  background: var(--teal);
}
.main-nav{
  list-style-type: none;
  display: none;
}
.nav-links , .logo {
  text-decoration: none;
  color:white ;
}
.nav-links:hover{
  color: var(--crimson);
}



.main-nav li{
text-align: center;
margin: 15px auto;
}
.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer; 
  color: #fff;
  font-size: 24px;
}
.active {
  display: block;
}

@media screen and (min-width: 768px) {
  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
  }
  .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }
  .main-nav li {
      margin: 0;
  }
  .nav-links {
      margin-left: 40px;
  }
  .logo {
      margin-top: 0;
  }
 .navbar-toggle {
     display: none;
  }
  .logo:hover,
  .nav-links:hover {
      color: var(--crimson);
  }


}





/* end navigation bar */

/* start banner slider */
.banner p.qoute{
    z-index: 2;
    position: absolute;
    bottom: 24px;
    left: 47%;
    background: var(--black);
    opacity: 0.5;
    padding: 8px;
    border-radius: 12px;
    color: var(--white);
}
@media only screen and (max-width: 798px) {
   .banner p.quote{
       display: none;
   }
}
/* end banner slider */


/* start welcome  */
.welcome {
    background-color: var(--crimson);
    padding: 40px;
    color: var(--white);
}
.welcome p{
    font-size: 18px;
    line-height: 1.9;
}
.welcome a{
    border: 1px solid var(--white);
    color: var(--white);
    padding: 16px 22px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-top: 50px;
    display: block;
    transition: ease-in-out 0.4s all;
}
.welcome a:hover{
    background-color: #fff;
    color: #E77A7D;
}
/* end welcome */

/* about */
.about h3{
    color: var(--teal);
    font-size: 36px;

}
.about p.main-title{
    color: var(--crimson);
    font-size: 22px;
}
.about i {
    color: var(--teal);
    font-size: 50px;
    margin-top: 20px;
} 
.about h3{
    color: var(--teal);
    font-size: 40px;
    margin: 20px auto;
}

.about .info{
    color: var(--crimson);
}
/* end about  */

.services {
    background-color: var(--dark);
    color: #ffffff;
    padding: 20px;
}

.services.zigzag-top{
  /* position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
  background: #fff; */
}

.services.zigzag-top:before{
  /* content: ' ';
  position: absolute;
  width: 100%;
  height: 15px;
  display: block;
  background: linear-gradient(
      -45deg , transparent 33.33% ,
            var(--dark) 33.33% ,
            var(--dark)  66.66%,
            transparent 66.66%


      ),
      linear-gradient(
      45deg , transparent 33.33% ,
            var(--dark)  33.33% ,
            var(--dark)  66.66%,
            transparent 66.66%


      );
  background-size: 30px 60px; 
  transform: rotateX(180deg);  */

}


.services i{
    font-size: 54px;
    margin-top: 20px;
    margin-bottom: 30px;
}
.services h3{
    font-size: 40px;
    margin-bottom: 20px;
}
/* end services */
/* start parallax */
.parallax{
  padding: 80px;
  background: url(../imgs/paralax.jpg) repeat-x;
  background-position: 300px -1.2px;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;

}
.parallax h3{
 
  font-size: 40px;
  margin-bottom: 20px;
}
.parallax p{
  font-size: 18px;
}
/* end parallax */
/* gallary */

.mgallary{
  padding: 20px;
  padding-bottom: 10px;
}

.mgallary h3{
  font-size: 3rem;
  color: var(--teal);
}
.mgallary p{
  font-size: 22px;
  color: var(--crimson);
}

.trans
{
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.top
{
	display: flex;
	width: 80vw;
	height: 80vh;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10vh;
}
.top ul
{
	list-style: none;
	width: 100%;
	height: 100%;
	z-index: 1;
	box-sizing: border-box;
}
.top ul li
{
	position: relative;
	float: left;
	width: 25%;
	height: 60%;
	overflow: hidden;
}

.top ul li::before
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	content: '';
	color: white;
	opacity: 0.4;
	text-align: center;
	box-sizing: border-box;
	pointer-events: none;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.top ul li:hover::before
{
	opacity: 0;
	background-color: rgba(0,0,0,0.90);
}
.top ul li img
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.lightbox
{
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 999;
	opacity: 0;
	pointer-events: none;
}
.lightbox img
{
	max-width: 90%;
	max-height: 80%;
	position: relative;
	top: -100%;
	/* Transition */
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.lightbox:target
{
	outline: none;
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-ms-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
}
.lightbox:target img
{
	top: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
/* end gallary */
/* counters */
.counters{
  background-color: var(--dark);
  color: #fff;
  padding: 60px;
} 

.counters h3{
  font-size: 40px;
}

.counters p{
  font-size: 22px;
}
.counters h3.title .counters .counter{
  font-size: 42px;
  margin-bottom: 20px;
}

/* end counters */


/* latest home-posts */


.latest-home-posts{
  background: var(--grey);
}
.latest-home-posts h3{
  color: var(--teal);
  font-size: 42px;
  margin-bottom: 16px;
}
.latest-home-posts p{
  color: var(--crimson);
  font-size: 22px;
}

/* end latest-home-posts */

/* tiled gallary */
.tiled{
  background: var(--teal);
  height: 500px;

}
/* tiled gallary */
/* testimonials */
.testimonials{
  background: var(--white);
}
.testimonials h3{
  color: var(--teal);
  font-size: 42px;
  margin-bottom: 16px;
}
.testimonials p.heading ,.testimonials p.name{
  color: var(--crimson);
  font-size: 22px;
}
.testimonials p.qoute{
  font-size: 18px;
}

.testimonials img{
  border-radius: 50%;
}
/* end testimonials */

/* home-posts */
.home-posts{
  background-color: var(--dark);
  color: var(--white)
}

.home-posts h3.title a{
  color: var(--white);
  text-decoration: none;
}
.home-posts h3.title a:hover{
  color: var(--teal);
}
.home-posts a.link{
  color: var(--crimson);
  background-color: var(--white);
  padding: 12px 16px;
  text-decoration: none;
  width: 180px;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid var(--crimson);
  transition: ease-in-out 0.4s all;
}
.home-posts a.link:hover{
  color: var(--white);
  background-color: var(--crimson);
}
.home-posts .img-container {
  position: relative;

}

.home-posts .img-overlay{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #293235;
  opacity: 0;
  transition: ease-in-out 0.4s all;
}

.home-posts .img-overlay:hover{
  opacity: 0.4;
  cursor: pointer;
}
/* end home-posts */
/* features */
.features {
  background: var(--white);

}

.features h3{
  color: var(--teal);
  font-size: 40px;
}
.features p{
  color: var(--crimson);
  font-size: 22px;
}

.features .feature .quest{
  font-size: 30px;
  color: var(--black);
}

.features .feature a.link{
  color: var(--white);
  background-color: var(--crimson);
  padding: 12px 16px;
  text-decoration: none;
  width: 180px;

  font-size: 18px;
  border: 1px solid var(--crimson);
  transition: ease-in-out 0.4s all;
}
.features a.link:hover{
  color: var(--crimson);
  background-color: var(--white);
}
/* end features */
/* social-bar  */

.social-bar{
  background-color: var(--lightTeal);
}
.social-bar ul{
  text-decoration: none;
  display: flex;
  padding: 8px;
  justify-content: center;
  align-items: center;
}
.social-bar ul li {
  list-style-type: none;
 
  padding: 5px 7px 9px 8px;
  height: 12px;

}
.social-bar ul li  a{

 padding: 8px 12px; 

  
  text-decoration: none;
  border-radius: 50%;
  background-color: var(--teal);

  color: var(--white)
}
.social-bar ul li a i{
  font-size: 18px;
}
.social-bar a:hover {
 background: var(--darkTeal);
}
/* end social-bar */
.footer{
  background-color: var(--lighterTeal);
}
.footer h2.title{
  color: var(--teal);
}
.footer p{
  color: var(--darkTeal);
}

.footer ul{
  list-style: none;
}
footer ul.menu{
  padding: 26px;
}
.footer ul li {
  text-transform: uppercase;
  padding-top: 8px;
  padding-bottom: 5px;
}
.footer ul li a{
  color: var(--darkTeal);
  text-decoration: none;
font-size: 14px;
font-weight: 350;
}
.footer ul li a:hover{
color: var(--crimson);
}

.footer ul.menu  li{
 border-bottom: 1px solid var(--darkTeal);
}
.footer ul.menu  ul.sub-menu{
  margin-left: 30px;
}
.footer ul.menu ul.sub-menu li{
  border: none;
}

/* end footer  */


/* copyrights */
.copyrights{
  background-color: var(--darkTeal);
  color: var(--gray);
 
}
.copyrights  h5{
  font-size: 16px;
  padding-top: 6px;
}
/* end copyrights */

/* -------------------------------end home page --------------------------------------------- */


/* ------------------------------start blog page -------------------------------------------- */
.blog{
  padding: 30px;
}


/* breadcrumb nav */
nav{
 
  width: 100%;
  height: 40px;
  padding: 0px;
}
nav .breadcrumb{
  padding: 10;
 font-size: 18px;
  background: var(--rose);
}
nav .breadcrumb a{
  color: var(--white);
  text-decoration: none;

}
nav .breadcrumb a:hover{
  color: var(--crimson);
}
/* end bread crumb */
/* post */
.post h2.title a{
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
  color: var(--white);
}


.post img{
  border: 4px solid var(--crimson);
  opacity: 1;
}
.post img:hover{
  opacity: 0.5;
}
.post h2.title a:hover{
  color: var(--brown);
}
.post .meta , .post .info{
  color: var(--silver);
  font-size: 16px;
}
.post .info {
  border-top: 1px solid var(--silver);
  border-bottom: 1px solid var(--silver);
  padding: 8px 0;
}

.post input , .post textarea{
  border-radius: 0;
}

.post label{
  color: #000;
  font-size: 16px;
  font-weight: bold;
}
.post label span{
  color: var(--crimson);
}
.post button[type='submit']{
  background: var(--crimson);
  color: var(--white);
  border-radius: 0;
  transition: ease-in-out 0.4s all;
  border: 1px solid var(--crimson);
}
.post button[type='submit']:hover{
  color: var(--crimson);
  background-color: var(--white);

}





/* end posts */

/* sidebar */
.blog .sidebar {
  padding-left: 30px;
  
}
.blog .sidebar .widget{
 padding-left: 40px;
 padding-bottom: 20px;

}
.blog .sidebar .title{
  font-size: 25px;
}
.blog .sidebar .widget ul {
  list-style-type: none;
}
.blog .sidebar .widget ul li{
  border-bottom: 1px solid var(--dark);
  padding-bottom: 5px;
}
.blog .sidebar .widget ul li span.num{
  font-size: 14px;
}
.blog .sidebar .widget ul li a{
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
}
.blog .sidebar .widget ul li a:hover{
  color: var(--crimson);
}

.sidebar .archives-dropdown p ,.sidebar .categories-dropdown p{
 font-size: 14px;
}

.sidebar .calender table, .sidebar .calender td,.sidebar .calender th{
border: 1px solid var(--silver);
padding:0 16px;
color: var(--darkTeal);
font-size: 14px;
}















/* end sidebar */

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
 .blog .sidebar{
   padding-left: 0;
 }
}



/* -------------------------------end blog page----------------------------------------------- */






































